<a href="https://colab.research.google.com/github/emelygon239/In-Class-Assignment/blob/main/In_Class_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
r=3
pi=3.14
h=10
surfacearea= 2*pi*r**2+2*pi*r*h
print(surfacearea)

244.92000000000002

the variable name has to be singular so it would not have an error

inputs such as two player 1 and player 2

rock wins scissors
scissors wins paper
paper wins rocks

In [ ]:
# Input

p1= input('Choose rock, scissors, paper')
p2= input('Choose rock, scissors, paper')


#Processing must use and or

if p1==p2:
  print('No wins')

elif (p1=="rock" and p2=="scissors") or (p1=="scissors" and p2=="paper") or (p1=="paper" and p2=="rock"):
  print('p1 wins')

else:
  print("p2 wins")

Choose rock, scissors, paperrock
Choose rock, scissors, paperpaper
p2 wins

In [ ]:
n1=float(input('enter number'))
n2=float(input('enter number'))
symbol= input('choose symbol(+,-,/,**)')

if symbol=='+':
  print(n1+n2)

elif (symbol=='-'):
  print(n1-n2)

elif (symbol=='/'):
  print(n1/n2)

elif (symbol=='*'):
  print(n1*n2)

elif (symbol=='**'):
  print(n1**n2)

enter number5
enter number5
choose symbol(+,-,/,**)+
10.0

In [ ]:
c= input('Do you want to play a game?')

while c=='yes':
  p1= input('choose r, p, s')
  p2 = input('choose r, p, s')
if p1 == p2:
  print ('Draw')

elif (p1 == 'r'and p2 == 's') or (p1== 's' and p2 == 'p') or (p1 == 'p' and p2 == 'r'):
  print( 'p1 wins')

else:
  print ('p2 wins')

Do you want to play a game?yes
choose r, p, sr
choose r, p, ss
choose r, p, sno

In [ ]:
flat_rate = 5
for t in range (1,9):
  charge = flat_rate + 2.5 * t
  if charge < 10:
    charge = 10
  elif charge > 20:
    charge = 20
  print(t, charge)

1 10
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20
8 20

A parking garage charges 5plus2.50 for each hour parked. The minimum fee is 10andthemaximum feeis20.
Write a program that generates a table with hours parked and the corresponding fee.

Movie theater manager is decidiing how much to spend on advertising for an upcoming movie. Each ticket is 10 dollars. Without advertising, 20 people are forecasted to attend. Additional people attend based on advertising spending, estimated to be:
  Additional attendees= 2x round (adv. dollar)
  Fixed costs to run theater 200 dollars
  Write a program to generate a table for different adv amounts and profit.

We need 9 values so you use a for loop t make the table; less for the loop
We need to do range(0, a higher value so you do 201, step value is 25)

In [ ]:
ticketprice= 10
fixed_cost= 200
standard_attendees= 20

for ad in range(0,201,25): # the idea that profit stops at 200 and it goes up by 25 from 0 & t is the ad amount
  profit = 10 * ( standard_attendees + 2* round(ad**0.5)) - fixed_cost - ad
  print(ad,profit)

0 0
25 75
50 90
75 105
100 100
125 95
150 90
175 85
200 80

In [ ]:
ticketprice= 10
fixed_cost= 200
standard_attendees= 20

ad= 0 # initiation variable since its the first value
while ad < 201: # you must show what ad is so you gotta do the initiation variable
  profit = 10 * ( standard_attendees + 2* round(ad**0.5)) - fixed_cost - ad
  ad= ad + 25 # needs to be defined more manually than the for loop
  print(ad,profit)

25 0
50 75
75 90
100 105
125 100
150 95
175 90
200 85
225 80

In [ ]:

while cond:
  expr
  expr
  if cond2
    break
  expr
  expr

In [ ]:
while cond:
  expr
  expr
  if cond2
    condtinue #doesnt terminate it just skips the value
  expr
  expr

In [ ]:
j= 10

for i in range(1_000_000_000):# if you want to large number you can use _ such as a comma when 1,000,000,000
  if i == j:
    break
  print(i, end=' ')

print ('Done.') # until the i=j is true then the break happens and it prints done

0 1 2 3 4 5 6 7 8 9 Done.

In [ ]:
i= 10

while i > 0:
  i= i - 1
  if i == 5:
     continue
  print(i, end=" ") # 5 was skiped bc the continue pushed the control back to the while and went on

9 8 7 6 4 3 2 1 0

In [ ]:
# you are trying to make a list by entering numbers, and if it 0 it would stop
L=[]
item= int(input('enter a number')) #this needs to know it would be a number inputed

while item!= 0: # compared the value with 0 then put it on the list to put another value again
  L.append(item) # we need to append it so it can be in the list
  item= int(input('enter a number'))  # when you input the 0 it would be false and never goes into while so it false and prints L
  print(L)

enter a number5
enter a number5
[5]
enter a number5
[5, 5]
enter a number56
[5, 5, 5]
enter a number6
[5, 5, 5, 56]
enter a number7
[5, 5, 5, 56, 6]
enter a number0
[5, 5, 5, 56, 6, 7]

In [ ]:
L=[ ]
while True:
  item= int(input('enter a number:'))

  if item==0:
    break
    L.append(item)
    print(L)

enter a number:9
enter a number:0

In [7]:
months={} # this is an empty dictionary

names= ['Jan','Feb','May','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'] # list with names
numbers= [1,2,3,4,5,6,7,8,9,10,11,12] # list with numbers):

for i in range(0,12): # you can also do range(len(numbers)):
  months[numbers[i]]=names[i] #this is how you would be able to seperate the number and make the name a key equal to the number

print(months)

{1: 'Jan', 2: 'Feb', 3: 'May', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}

Results {1:'Jan',2:'Feb'....}
you can you a for loop since its for each number and names; this a way to use a interation ;