<a href="https://colab.research.google.com/github/emelygon239/In-Class-Assignment/blob/main/In_Class_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
r=3
pi=3.14
h=10
surfacearea= 2*pi*r**2+2*pi*r*h
print(surfacearea)

244.92000000000002

the variable name has to be singular so it would not have an error

inputs such as two player 1 and player 2

rock wins scissors
scissors wins paper
paper wins rocks

In [ ]:
# Input

p1= input('Choose rock, scissors, paper')
p2= input('Choose rock, scissors, paper')


#Processing must use and or

if p1==p2:
  print('No wins')

elif (p1=="rock" and p2=="scissors") or (p1=="scissors" and p2=="paper") or (p1=="paper" and p2=="rock"):
  print('p1 wins')

else:
  print("p2 wins")

Choose rock, scissors, paperrock
Choose rock, scissors, paperpaper
p2 wins

In [ ]:
n1=float(input('enter number'))
n2=float(input('enter number'))
symbol= input('choose symbol(+,-,/,**)')

if symbol=='+':
  print(n1+n2)

elif (symbol=='-'):
  print(n1-n2)

elif (symbol=='/'):
  print(n1/n2)

elif (symbol=='*'):
  print(n1*n2)

elif (symbol=='**'):
  print(n1**n2)

enter number5
enter number5
choose symbol(+,-,/,**)+
10.0

In [ ]:
c= input('Do you want to play a game?')

while c=='yes':
  p1= input('choose r, p, s')
  p2 = input('choose r, p, s')
if p1 == p2:
  print ('Draw')

elif (p1 == 'r'and p2 == 's') or (p1== 's' and p2 == 'p') or (p1 == 'p' and p2 == 'r'):
  print( 'p1 wins')

else:
  print ('p2 wins')

Do you want to play a game?yes
choose r, p, sr
choose r, p, ss
choose r, p, sno

In [ ]:
flat_rate = 5
for t in range (1,9):
  charge = flat_rate + 2.5 * t
  if charge < 10:
    charge = 10
  elif charge > 20:
    charge = 20
  print(t, charge)

1 10
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20
8 20

A parking garage charges 5plus2.50 for each hour parked. The minimum fee is 10andthemaximum feeis20.
Write a program that generates a table with hours parked and the corresponding fee.

Movie theater manager is decidiing how much to spend on advertising for an upcoming movie. Each ticket is 10 dollars. Without advertising, 20 people are forecasted to attend. Additional people attend based on advertising spending, estimated to be:
  Additional attendees= 2x round (adv. dollar)
  Fixed costs to run theater 200 dollars
  Write a program to generate a table for different adv amounts and profit.

We need 9 values so you use a for loop t make the table; less for the loop
We need to do range(0, a higher value so you do 201, step value is 25)

In [ ]:
ticketprice= 10
fixed_cost= 200
standard_attendees= 20

for ad in range(0,201,25): # the idea that profit stops at 200 and it goes up by 25 from 0 & t is the ad amount
  profit = 10 * ( standard_attendees + 2* round(ad**0.5)) - fixed_cost - ad
  print(ad,profit)

0 0
25 75
50 90
75 105
100 100
125 95
150 90
175 85
200 80

In [ ]:
ticketprice= 10
fixed_cost= 200
standard_attendees= 20

ad= 0 # initiation variable since its the first value
while ad < 201: # you must show what ad is so you gotta do the initiation variable
  profit = 10 * ( standard_attendees + 2* round(ad**0.5)) - fixed_cost - ad
  ad= ad + 25 # needs to be defined more manually than the for loop
  print(ad,profit)

25 0
50 75
75 90
100 105
125 100
150 95
175 90
200 85
225 80

In [ ]:

while cond:
  expr
  expr
  if cond2
    break
  expr
  expr

In [ ]:
while cond:
  expr
  expr
  if cond2
    condtinue #doesnt terminate it just skips the value
  expr
  expr

In [ ]:
j= 10

for i in range(1_000_000_000):# if you want to large number you can use _ such as a comma when 1,000,000,000
  if i == j:
    break
  print(i, end=' ')

print ('Done.') # until the i=j is true then the break happens and it prints done

0 1 2 3 4 5 6 7 8 9 Done.

In [ ]:
i= 10

while i > 0:
  i= i - 1
  if i == 5:
     continue
  print(i, end=" ") # 5 was skiped bc the continue pushed the control back to the while and went on

9 8 7 6 4 3 2 1 0

In [ ]:
# you are trying to make a list by entering numbers, and if it 0 it would stop
L=[]
item= int(input('enter a number')) #this needs to know it would be a number inputed

while item!= 0: # compared the value with 0 then put it on the list to put another value again
  L.append(item) # we need to append it so it can be in the list
  item= int(input('enter a number'))  # when you input the 0 it would be false and never goes into while so it false and prints L
  print(L)

enter a number5
enter a number5
[5]
enter a number5
[5, 5]
enter a number56
[5, 5, 5]
enter a number6
[5, 5, 5, 56]
enter a number7
[5, 5, 5, 56, 6]
enter a number0
[5, 5, 5, 56, 6, 7]

In [ ]:
L=[ ]
while True:
  item= int(input('enter a number:'))

  if item==0:
    break
    L.append(item)
    print(L)

enter a number:9
enter a number:0

In [ ]:
months={} # this is an empty dictionary

names= ['Jan','Feb','May','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'] # list with names
numbers= [1,2,3,4,5,6,7,8,9,10,11,12] # list with numbers):

for i in range(0,12): # you can also do range(len(numbers)):
  months[numbers[i]]=names[i] #this is how you would be able to seperate the number and make the name a key equal to the number

print(months)

{1: 'Jan', 2: 'Feb', 3: 'May', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}

Results {1:'Jan',2:'Feb'....}
you can you a for loop since its for each number and names; this a way to use a interation ;

Assignment 1- Oct.10

#you want to buy a house, you need to save for a few years before you can afford the down payment, determine how long it will take you to save enough money to make a downpayment
- let the cost of the house be total_cost
- let the portion of the cost needed for downpayment be portion_down_payment
- portion_down_payment= 0.25%
- amount saved= current_savings
- assume you start with 0, and if u invest current savings such as current_savings*r/12 funds to your saving- 12 is an annual rate so assume return is 4%; r=.04

In [ ]:
annual_salary= int(input('enter your salary'))
portion_saved= float(input('enter your percentage saved'))
total_costhouse= input('enter cost of the house')

month = 0
down_payment= 5000
amount= 50

while amount <= down_payment:
  amount += down_payment* portion_saved
  month += 1
  print(month)

enter your salary50000
enter your percentage saved.25
enter cost of the house100000
1
2
3
4

Assignment 2- Oct.10
Modify the previous program to include the following:

- Have the user input a semi-annual salary raise semi_annual_raise (as a decimal
percentage)

- After the 6th month, increase your annual salary by that percentage. Do the same after the
12th month, the 18th month, and so on.

 **Hint mod(%) operator**
Printouts should be like:
Enter your annual salary: 120000
Enter the percent of your salary to save, as a decimal: . 05
Enter the cost of your dream home: 500000
Enter the semi-annual raise, as a decimal: .03
Number of months: 142

In [ ]:
annual_salary = int(input('Enter your annual salary: '))
portion_saved = float(input('Enter the percent to save: '))
total_cost = int(input('Enter the cost of your home: '))
semi_annual_raise = float(input('Enter the semi-annual raise: '))

portion_down_payment = 0.25  # 25% of the total cost
down_payment = total_cost * portion_down_payment
current_savings = 0
monthly_salary = annual_salary / 12
month = 0

while current_savings < down_payment:

    current_savings += current_savings * 0.04 / 12  # monthly investment return of 4% annual
    current_savings += monthly_salary * portion_saved

    month += 1

    if month % 6 == 0:
        monthly_salary += monthly_salary * semi_annual_raise


print("Number of months:", month)

Assignemnt 3- Oct.10

Write a function that checks whether a number is in a given range.

must use a conditional operator
to see if the ***--given number does belong to the given range----****
You have to approach the solution to this assignment in two ways.
 In the _rst approach, your
function will print out the result, whereas in the second, you have to use boolean return values.

**Example:** name your function range_check and build it to get three arguments:
a) the number in question
b) the low end of the range
c) the high end of the range.

In [ ]:
def inputs(): # this is due to not having requiring an input parameter since you are personally inputting it
  annual_salary= int(input('enter your salary'))
  portion_saved= float(input('enter your percentage saved'))
  total_costhouse= input('enter cost of the house')

  return annual_salary, portion_saved, total_costhouse # this does it return more than one outputs

In [ ]:
salary, portion_saved, total_costhouse=input()

month=0
amount=0

In [ ]:
number= input('enter a number')
low_end= input('enter the low end')
high_end= input('input the high end')

def range_check(number, low_end, high_end):
  if low_end <=number and number <= high_end:
    return True
  else:
      return False

enter a number5
enter the low end1
input the high end6

In [ ]:
print(range_check(2,1,3))

True

Parking Garage
charges $5 plus $2.50 for each hour parked.
write a program


*   Prompt for the number of hours parked
*   calc and dispaly the parking fee charged
must define the function the parking fee given a number of hours
def caclfee(hours)

ex:
enter hours parked :4
parking fee: $15 which would be displayed

In [ ]:

def calcfee(hours):
  fee= 5 + hours*2.5
  return fee

hours = int(input('enter # of hours: '))
fee= calcfee(hours) # here is where it cals the function and go back to the def and does it thing to then then returns the fee which is return to where the function was called which is in the second paragraph
print(fee)

enter # of hours: 5
17.5


Parking Garage charges  5 ð‘ð‘™ð‘¢ð‘  2.50 for each hour parked. write a program

Prompt for the number of hours parked

*   defibe the call function displaying the displayfee(fee)
*   refine the sign calcfee, to include a name paramter with decimal controlling the rounding on the calc fee
* defcalcfee(hours, decimal=2)


calc and dispaly the parking fee charged must define the function the parking fee given a number of hours def caclfee(hours)

ex: enter hours parked :4 parking fee: $15 which would be displayed

In [ ]:
def calcfee(hours,decimal=2):
  fee= 5 + hours*2.5
  fee=round(fee, decimal)
  return fee

def displayfee(fee):
  print(fee)

h = int(input('enter # of hours: '))
fee=calcfee(h)
displayfee(fee)

enter # of hours: 6
20.0

In [ ]:
def rev(S):
  if len(S)==1:
    return S
  else:
    return (rev(S[1:]) + S[0]) # slicing method removes the first one and then adds it again and then proceeds to continue the function

print(rev('HELLO'))

OLLEH

Functiona that calculates the weighted average of a list L, given weights w. The function should handle the following exception error types:
- ZeroDivisionError[link text]
- TypeError( return empty list)
- any other unkniwn error (return(float'nan')

In [ ]:
def wAvg(L,w):
  res=[]
  try:
    for i in range(len(L)):
      res.append(L[i]*w[i]) # this would multiply by each L0 and W0 and on and on
    return sum(res)/sum(w)

  except ZeroDivisionError:
    print('Division by zero')
    return []

  except TypeError:
    print('L and w are not compatibile, non-numerical objects found')
    return []

  except Exception as e:
    print(f'Unknown error:{e}')
    return (float('nan'))

wAvg=([1,2,3],[])

Define a class named Student; they have two attributes
- names (str)
- number (str)
create two objects out of this class
objects include:
name hames bond, number:007
name: clark kent, number 333

Now:
add name: John Doe, number:111
Courses:
- BTE 320
- BTE 401
Should check if its in the list, and if it isnt then

In [22]:
class Student:
  def __init__(self,name,number):
    self.name= name
    self.number= number
    self.courses=[]

  def enroll(self,course):
    if course not in self.courses:
      self.courses.append(course)
    else:
        print(f'you havent already enrolled in {courses}')

  def set_course(self,course):
     return self.course

  def set_name(self,name):
    self.name= nameName

  def get_name(self):
    return self.name

In [24]:
s1= Student("James Bond", "007")
s2= Student("Clark Kent", "333")
s3= Student("John Doe","111")

s= Student('bob','123')

In [25]:
s.enroll('BTE320')

In [7]:
s2.get_name()

'Clark Kent'

In [ ]:
s1.name

'James Bond'

In [ ]:
s2.name

'Clark Kent'

NameError: name 's2' is not defined